body {
    font-family: sans-serif;
     background-image:url(https://p.favim.com/orig/2018/12/27/scenery-gif-anime-Favim.com-6733202.gif);
}

.link-tex{
    border: royalblue 3px;
}
  main p{
      
      color: orange
  }

